{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}LangValues - Programming Languages and their Core Values{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>

    <div class="content">
        <div class="container">
            <header>
                <h1>LangValues</h1>
                <h2>Programming Languages and their Core Values</h2>
            </header>

            <br />
            <br />

            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <footer class="footer">
        <p class="text-center">
            Made by <a href="https://github.com/PeterSR">PeterSR</a>
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    {% if DEBUG %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
