html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;

    padding: 1em;
}

.footer {
    flex-shrink: 0;

    padding: 1em;

    background-color: #f7f9fa;
}
